/* Оформление шапки */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0px 20px 0 51px;
    padding: 90px 0 92px 0;
    max-height: 700px ;
    max-width: 2000px;
    

}

/* Оформление меню */
.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 33px;
}

.header__links-list-item {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: circle;
}


.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

/* Оформление логотипа */
.header__logo {
    margin-right: 30px;
    
   
    
}

.header__logo-image {
    width: 148px;
    height: 105px;
    
    
}

/* Оформление адрессов */
.address {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-self: center;
    justify-self: end;
    line-height: 24.3px;
    padding-right: 33px;

    
    
}

/* Оформление заголовка в секции с оверлеем*/

.cover__title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    gap: 10px;
    color: #FFF;
    z-index: 2;
    position: relative;
    
   
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.aligned-text_center {
    align-self: center;
    padding-right: 40px;
    padding-top: 3px;
}

.aligned-text_right {
    margin-right: 13px;
    margin-top: -4px;
    align-self: flex-end;
   
    
}

.aligned-text-left {
    margin-top: 5px;
}


.overlay {
    
    position: absolute;
    inset: 0;
    z-index: 1;
    background:  rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 60px;
    
    
}

/* Стилизуем всю секцию */

.cover {
    
    background: #fff url(./images/cover.jpg) center center/cover no-repeat border-box;
    padding: 160px 5px 52px 50px;
    position: relative;
    
}

/* Оформление подзаголовка в секции с оверлеем */

.cover__description {
    display: flex;
    flex-direction: row ;
    justify-content: end;
    z-index: 2;
    position: relative;
    gap: 70px;
    margin-top: 125px;
    margin-right: 45px;

}

.cover__description-text {
    color: #FFF;
    justify-self: end;
    align-self: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
    margin-right: 0px;
}

.bet-button {
    justify-self: center;
    align-self: center;
    padding: 12px 32px;
    margin-left: 10px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer
}

/* Оформление секции с лотами */

.lots {
    padding: 100px 50px 180px 50px;
    margin-top: 80px;
    display: grid;
    grid-template-rows: (3, 1fr 3fr 1fr);
    gap: 20px;
}

/* Оформление загаловка и ссылки подробнее лотов */

.lots__heading {
    color: #000;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 5px;
}

.lots__look-more-link {
    font-size: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 40px;
}

/* Оформление секции с карточками */

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 27px;
}

.card-link {
    text-decoration: none;
    position: relative;
    
    
}

/* Общие стили карточек */

.card {
    padding: 50px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 430px;
    min-height: 450px;
    justify-content: space-between;
   
}

.card__title {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}



.card__text {
    color: #FFF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    
}

.card__title,.card__text {
    z-index: 1;
}

/* Уникальные стили карточек */

.card_type_film {
    background: #fff url(./images/card-lot-01.jpg) center center/cover no-repeat;
    
    
}

.card_type_book {
    
    background: #fff url(./images/card-lot-02.jpg) center center/cover no-repeat;
}

.card_type_picture {
    
    background: #fff url(./images/card-lot-03.jpg) center center/cover no-repeat;
}

/* Секция об аукционе */

.about__lots {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    margin: 0 0 0 50px;
    width: 1340px;
    height: 487px;
    justify-content: space-between;
    
}

/* Оформление лого в секции об аукционах */

.background-logo {
    justify-self: center;
    width: 240px;
    height: 240px;
    background: #000;
    display: flex;
    align-items: center;
    border-radius: 240px;
    padding: 63px 46px;
}

.about__lots-img {
    width: 148px;
    height: 114px;
}

/* Оформление загаловка и подзагаловка */

.about__lots-title {
    color: #000;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__lots__title-text {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-self: flex-end;
    justify-self: end;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__lots__title-text-2 {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Оформление футера */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 182px 49px 85px 50px;
}

/* Оформление ссылок */

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
font-size: 18px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-right: 30px;
}

/* Оформление ссылок с подчеркиванием */

.footer__menu-link {
    text-decoration: underline;
}

/* Оформление списка социальных сетей */

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 240px;
    height: 48px;
}
